# Sukhvir Singh-Tabular models

In [0]:
from fastai import *
from fastai.tabular import *

In [0]:
path = '/content/sample_data/coron.csv'
df = pd.read_csv(path)

In [208]:
df.values[:10]

array([[  1,  48],
       [  2,  63],
       [  3,  71],
       [  4,  81],
       [  5,  91],
       [  6, 102],
       [  7, 112],
       [  8, 126],
       [  9, 146],
       [ 10, 171]])

In [0]:
dep_var = 'Infection'
cont_names = 'Day'
cat_names = 'Day'
valid_idx = range(len(df)-5, len(df))
procs = [FillMissing]

In [317]:
data = TabularDataBunch.from_df(path, df, dep_var, valid_idx=valid_idx, bs=30, procs=procs)

/usr/local/lib/python3.6/dist-packages/fastai/data_block.py:537: UserWarning: You are labelling your items with CategoryList.
Your valid set contained the following unknown labels, the corresponding items have been discarded.
7600, 8454, 5916, 6729, 9212
  if getattr(ds, 'warn', False): warn(ds.warn)

In [318]:
data.show_batch(rows=30)

In [0]:
learn = tabular_learner(data, layers=[200,100],ps=[0.001,.01], emb_drop=0.04, metrics=[accuracy])

In [320]:
learn.fit(3, 1e-2)

## Inference

In [0]:
row = df.iloc[7]

In [325]:
row

Day            8
Infection    126
Name: 7, dtype: int64

In [326]:
learn.predict(row)

(Category 2059,
 tensor(23),
 tensor([0.0212, 0.0194, 0.0247, 0.0152, 0.0215, 0.0156, 0.0201, 0.0179, 0.0204,
         0.0245, 0.0170, 0.0185, 0.0307, 0.0247, 0.0173, 0.0229, 0.0258, 0.0248,
         0.0323, 0.0333, 0.0306, 0.0335, 0.0565, 0.0699, 0.0654, 0.0697, 0.0478,
         0.0566, 0.0666, 0.0556]))